@import "../../responsive.scss";
.fAQs{ 
    display: flex;
     background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 400px;
    font-size: x-large; 
    h2{
        display: block;
    }
    .container{
      
        width: 70%;
          @include sm{
            width: 100%;
        }
        h2{
            margin: 30px;
        }   
        .faq {
            font-size: medium;
            margin: 10px; 
            border:none;
            color: black;
            background-color: white;
        }
         
        .ans{
            font-size: medium;
            padding-bottom: 7px;
            color: rgb(108, 108, 108);
            margin-left: 10px;
            width: 80%;
        }
    }
}