
@import "../../responsive.scss";
html,
body {
  // background-color: rgb(236, 236, 236);
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  .App {
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
  .loadingscreen {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    img {
      height: 100px;
    }
  }
}

  .homePage {
    min-height: 100vh;
    height: auto;
    overflow: visible;
    .image{
      @include sm{
        display: none;
      }
      @include md{
        display: none;
      }
      position: absolute;
      z-index: 10;
      left: 75%;
      top: 188%;
      opacity: 0.5;
      // border-radius: 30%;
    }
    .image1{
      @include sm{
        display: none;
      }
      @include md{
        display: none;
      }
      position: absolute;
      z-index: 10;
      // left: 75%;
      top: 188%;
      opacity: 0.5;
      // border-radius: 30%;
    }
    .image2{
      @include sm{
        display: none;
      }
      @include md{
        display: none;
      }
      position: absolute;
      z-index: 10;
      // left: 75%;
      top: 79%;
      left: 70%;
      // right: 0%;
      transform: rotate(280deg);
      opacity: 0.5;
      // border-radius: 30%;
    }
  }
}
