// Import Toast styles globally
@import './components/Toast/Toast.scss';

.App {
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
  .loadingscreen {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    img {
      height: 100px;
    }
  }
}
